version: '3.3'

services:
  api:
    container_name: evolution_api
    image: atendai/evolution-api:v2.2.3
    restart: unless-stopped
    ports:
      - "8081:8080"
    volumes:
      - evolution_instances:/evolution/instances
    env_file:
      - .env
    environment:
      - TZ=America/Guayaquil
      - RECONNECT_INTERVAL=15000
      - MAX_RECONNECT_ATTEMPTS=5
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - evolution-net

  postgres:
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: typebot
      POSTGRES_DB: evolution_db
      TZ: America/Guayaquil
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - evolution-net

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - evolution-net

volumes:
  evolution_instances:
  pg_data:
  redis_data:

networks:
  evolution-net:
    driver: bridge
